body {
    position: relative;
    font-family: 'Rubik', sans-serif;
    height: 100%;
}

html{
    height: 100%;
}

/* ---- Start parallax ---- */

.parallax { 
    /* The image used */
    
#slide1:before {
  background-image: image(sheHacks2.jpg);
  transform: translateZ(-1px) scale(2);
  z-index:-1;
}
}


/* ---- End parallax ---- */





/* NavBar */

#navbar {
    height: 60px;
    width: 100%;
    background-color: white;
    box-shadow: 0px 5px 10px 0 rgba(0, 0, 0, 0.2);
    
    position: fixed;
    top: 0;

    z-index: 1;
}

#brand {
    height: 100%;
    color: #C22BFF;
    font-weight: 500;
    position: absolute;
    line-height: 60px;
    left: 60px;
}

#brand .emphasize {
    color: white;
    background-color: #C22BFF;
    height: 20px;
    border-radius: 5px;
    padding: 5px;
}

.links {
    height: 100%;
    width: 100%;
    font-size: 20px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.link {
    color: #C22BFF;
    margin: 0 20px;
    transition: color 0.2s;
}

.link:hover {
    color: black;
}

/* Frm1 */

#frm1 {
    
}


/* Hero */

#hero {
    padding-top: 10%;
    padding-bottom: 5%;
   
    background: linear-gradient(to right, #2B3EFF, #C22BFF, #FF2B2B);
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#hero2 {
    padding-top: 2%;
    padding-bottom: 0%;
    padding-left: 3%;
    padding-right: 3%;
    background-color: white;
    color: #C22BFF;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    align-content: left;
    padding-left: 10%;
}

#hero2 .description {
    text-align: left;
    line-height: 30px;
    font-weight: 300;
    font-size: 20px;
    color: black;
}

#hero h1 {
    margin: 0;
    font-weight: 500;
    font-size: 60px;
}

#hero3 {
    padding-top: 10px;
    padding-bottom: 10px;
   
    background: linear-gradient(to right, #2B3EFF, #C22BFF, #FF2B2B);
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}



.divider {
    height: 1px;
}

#hero .divider {
    width: 100px;
    background-color: black;
    align-content: center;
}

#hero .description {
    text-align: center;
    line-height: 30px;
    font-weight: 300;
    font-size: 40px;
}

#hero .twitter-button img {
    width: 250px;
    height: 50px;
    align-content: center;
    padding: 10px 10px;
    transition: all 0.2s;
}

#hero .twitter-button:hover {
    transform: translateY(-2px);
}

/* Features */
#features {
    margin-top: 10px;
    margin-bottom:  10px; 
    background-color: white;
    display: flex;
    flex-direction: row;
    
    padding: 10px;
}

#features .feature {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feature .header {
    font-weight: 500;
    margin: 10px 0 5px 0;
}

.feature .body {
    font-weight: 300;
    font-size: 16px;
    margin: 0 0 5px 0;
}

.feature img {
    height: 80px;
    padding: 10px;
}
